apiVersion: v1
kind: ConfigMap
metadata:
  name: timescale-post-init
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade,post-delete
    "helm.sh/hook-weight": "0"
    "helm.sh/resource-policy": keep
  labels:
    app: starship
    chart: {{ template "tricorder.chart" . }}
    release: {{ .Release.Name }}
data:
  tricorder_db_init.sh: |
    #!/bin/bash

    psql -d "$1" <<__SQL__
    CREATE DATABASE tricorder WITH OWNER postgres;
    __SQL__
