name: Release

on:
  # Requires manual trigger
  # See https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch

# Only allow running one release action, see more details at:
# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: release
  cancel-in-progress: true

jobs:
  release-helm-charts:
    name: Release Helm Charts
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.9.0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.0
      - name: Add Dependencies
        shell: bash
        run: |
            helm repo add timescale https://charts.timescale.com
            helm repo add open-telemetry https://open-telemetry.github.io/opentelemetry-helm-charts
            helm repo add kube-prometheus-stack https://prometheus-community.github.io/helm-charts
            helm repo add grafana https://grafana.github.io/helm-charts
            helm dep up helm-charts/charts/**
      - name: Release tricorder charts
        uses: helm/chart-releaser-action@v1.4.1
        with:
          charts_dir: helm-charts/charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "{{ .Version }}"
      - name: Copy README.md To gh-pages Branch
        uses: planetoftheweb/copy-to-branches@v1.2
        env:
          key: main
          branches: gh-pages
          files: README.md helm-charts/README.md helm-charts/docs

  get-git-tag:
    name: Get git TAG
    runs-on: ubuntu-latest
    # Wait for helm-charts releaser to finish, which pushes tag
    needs: release-helm-charts

    outputs:
      TAG: ${{ steps.git_tag.outputs.TAG }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure safe directory
        id: git_tag
        run: |
          # The following is required for:
          # https://github.com/actions/checkout/issues/363
          git config --global --add safe.directory $(realpath .)
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git fetch --tags > /dev/null 2>&1
          echo "TAG=$(git describe --tags --abbrev=0 2> /dev/null)" >> $GITHUB_OUTPUT

  build-and-push-container-images:
    needs: get-git-tag
    uses: ./.github/workflows/build_and_push_images.yaml
    with:
      tag: ${{ needs.get-git-tag.outputs.TAG }}
    secrets: inherit
